doctype html
html(lang='fr')
	include ../header.jade
body
	.container
		table.table-striped.table
			thead
				tr
					th Nom
					th Action
			tbody
				each plant in plants
					tr
						td
							li= plant.name
						td
							form.form-inline(role="form", method='post', action='/plants/#{plant._id}')
								input(type='hidden', name='_method', value='delete')
								div.form-group
									button.btn.btn-xs(type='submit') Supprimer
									a.btn.btn-xs(role='button', href='/plants/#{plant._id}/edit') Modifier
		a.btn(href='/plants/new') Ajouter
	include ../footer.jade
