extends ../layout
block content
	form(action='/plants', role='form', method='post')
		.form-group
			label(for="nom") Nom
			input#nom.form-control(name="name", placeholder="Nom de la plante")
		.form-group
			label(for="desc") Description
			textarea#desc.form-control(name='desc')
		.form-group
			button.btnbtn-default(type="submit") Modifier
