extends ../layout
block content
	form(enctype='multipart/form-data', action='/plants', role='form', method='post')
		.form-group
			label(for="nom") Nom
			input#nom.form-control(name="name", placeholder="Nom de la plante")
		.form-group
			label(for="desc") Description
			textarea#desc.form-control(name='desc')
		.form-group
			label(for="pic") Image
			input#pic.form-control(type='file', name='pic')
		.form-group
			button.btn.btn-default(type="submit") Ajouter
