extends ../../layout
block headTail
	//script(src='/javascripts/openlayers/lib/OpenLayers.js')
	//script(src='/javascripts/jquery-latitude-longitude-picker-gmaps/js/jquery-gmaps-latlon-picker.js')
block content
	h1 Nouveau lot
	form(role='form', method='post', action='/plants/#{plant}/lots')
		.form-group
			label(for='quantity') Quantité
			.input-group-lg.input-group
				input.form-control(required, step='0.01', type='number', min=0, name='quantity', id='quantity')
				span.input-group-addon kg
		.form-group: .input-group-lg
			label(for='price') Prix
			.input-group-lg.input-group
				span.input-group-addon MAD
				input.form-control(required, step='0.01', type='number', min=0, name='price', id='price')
		.form-group: .input-group-lg
			label(for='date') Date
			input.form-control(data-bind='today',required, type='date', name='date', id='date')
		.form-group: .input-group-lg
			label(for='seller.name') Vendeur
			input.form-control(required, type='text', name='seller.name', id='seller.name')
		.form-group: .input-group-lg
			label(for='seller.tel') Téléphone du vendeur
			input.form-control(required, type='tel', name='seller.tel', id='seller.tel')
		.form-group: .input-group-lg
			button.btn.btn-primary.btn-lg.btn-block(type='submit') Ajouter 
				span.glyphicon.glyphicon-plus-sign
